/* เกี่ยวกับฉัน About Me */
.aboutme {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 310px;
    height: 100vh;
}

.card {
    border: solid black 3px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    background-color: #19355b;
    padding: 5% 5%;
    margin: 10%;
}

.contact {
    padding-left: 0px;
}

.contact li {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    list-style-type: none;
    float: left;
    border-radius: 50%;
    margin: 15px 2% 0 0;
}

.contact li a {
    font-size: 20px;
    color: white;
}

.contact li a:hover {
    color: #ecb309;
}

.profileimg {
    max-width: 360px;
    height: auto;
    border-radius: 10px;
    border: solid 4px #ecb309;
    float: right;
}

.card h2 {
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 32px;
    margin: 5px 0px;
}

.card p {
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
}